<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.mapper.BookMapper">
	
	<cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"></cache>
	
	<!-- 使用二级缓存 
	 <cache type="com.zd.dao.redis.cache.RedisCache"></cache> 
	 -->
	 
	<insert id="saveBook" parameterType="Book" useGeneratedKeys="true" keyProperty="bid">
		insert into Book(author,cid,isbn,price,title,description,pdfs) 
		values (#{author},#{category.cid},#{isbn},#{price},#{title},#{description},#{pdfs})
	</insert>
	
	<select id="getAllBooks"  resultType="Book" resultMap="BookResultMap">
		select bid,author,isbn,title,price,book.cid,name
		from book
		inner join category
		on category.cid=book.cid
	</select>
	
	<select id="booksByCategory"  resultType="Book" resultMap="BookResultMap">
		select bid,author,isbn,title,price,book.cid,name
		from book
		inner join category
		on category.cid=book.cid
		where book.cid=#{category.cid}
	</select>
	
	<!-- 其实转账就是一次存+一次取 ，而一次存，和一次取都是一次更新账户表的操作，所以在dao的mapper中只需要写一个更新操作即可 -->
	<update id="updateBook" parameterType="Book">
		update Book set author=#{author},isbn=#{isbn} ,price=#{price},title=#{title},cid=#{category.cid} 
		<if test="pdfs!=''">
			,pdfs=#{pdfs}
		</if>
		 where bid=#{bid}
	</update>
	
	 
	<select id="getBook"  resultType="Book" parameterType="Book" resultMap="BookResultMap">
		select bid,author,isbn,title,price,book.cid,name,pdfs,description
		from book
		inner join category
		on category.cid=book.cid
		where bid=#{bid}
	</select>
	
	<!-- 使用resultMap映射实体类和字段之间的一一对应关系 -->
	<resultMap type="Book" id="BookResultMap">
		<id property="bid" column="bid"/>
		<result property="author" column="author"/>
		<result property="isbn" column="isbn"/>
		<result property="title" column="title"/>
		<result property="price" column="price"/>
		<result property="description" column="description"/>
		<result property="pdfs" column="pdfs"/>
		<association property="category" javaType="Category">
			<id property="cid" column="cid"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
</mapper>
